################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeCRUD/.vs/EmployeeCRUD/v15
